<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diasclient.coss.ethz.ch.diasclientlibrarylight">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".pureJava.DebuggingElements.LoggerVisualiser"></activity>
        <service android:name=".AndroidDependent.apiinterface.MappingWrapperService" />
    </application>

</manifest>